/* MDVBS Activity Styles */
.frickin-magic {
  color: #4d4b39;
}
.frickin-magic * {
  line-height: 1.5em;
}
.frickin-magic a {
  color: #e85b1f;
}
.frickin-magic .effort .duration {
  display: inline-block;
  width: 3.75em;
  text-align: right;
  font-weight: bold;
  color: #a84d10;
}
.frickin-magic .no-bullets, .frickin-magic .no-bullets li {
  list-style: none;
}
.frickin-magic .research dd {
  margin-bottom: 0.75em;
  padding: 0.75em 3em;
}
.frickin-magic .warning {
  color: #333;
  border: thin solid #AAA;
  padding: 0.75em 0.75em 0.75em 62px;
  font-style: italic;
  background: #fcfcf5 url("exclamation.png") no-repeat left center;
  min-height: 3em;
  margin: 0.75em 0;
}
.frickin-magic .detail {
  color: #333;
  border: thin solid #AAA;
  padding: 0.75em 0.75em 0.75em 62px;
  font-style: italic;
  background: #fcfcf5 url("magnify.png") no-repeat left center;
  min-height: 3em;
  margin: 0.75em 0;
}
.frickin-magic .hint {
  color: #333;
  border: thin solid #AAA;
  padding: 0.75em 0.75em 0.75em 62px;
  font-style: italic;
  background: #fcfcf5 url("lightbulb.png") no-repeat left center;
  min-height: 3em;
  margin: 0.75em 0;
}
.frickin-magic table.file-list, .frickin-magic table.figure {
  border-collapse: collapse;
  border: thin solid #afb0bc;
}
.frickin-magic table.file-list td,
.frickin-magic table.figure td,
.frickin-magic table.file-list th,
.frickin-magic table.figure th {
  padding: 0.25em 0.75em;
  border: thin solid #afb0bc;
}
.frickin-magic table.file-list .file-format, .frickin-magic table.figure .file-format {
  text-align: center;
}
.frickin-magic table.file-list th, .frickin-magic table.figure th {
  background-color: #d8d9df;
}
.frickin-magic table.file-list code,
.frickin-magic table.figure code,
.frickin-magic table.file-list kbd,
.frickin-magic table.figure kbd,
.frickin-magic table.file-list pre,
.frickin-magic table.figure pre,
.frickin-magic table.file-list tt,
.frickin-magic table.figure tt {
  font-family: Inconsolata, Consolas, 'Deja Vu Sans Mono', 'Droid Sans Mono', Monaco, monospace;
  font-size: 115%;
}
.frickin-magic .full-width {
  width: 100%;
  max-width: 100%;
}
.frickin-magic pre {
  padding: 0.75em;
  border: thin solid #4d4b39;
  margin: 0.75em;
  box-shadow: 0 0 0.75em #4d4b39;
  overflow-x: auto;
}
.frickin-magic .center {
  text-align: center;
}
.frickin-magic blockquote {
  padding: 0.75em;
  border-left: 0.25em solid #d8d9df;
}
.frickin-magic dt {
  margin: 1em 0 0.5em 0;
}
.frickin-magic dd {
  margin: 0.5em 0 1.5em 1.5em;
}
.activity .frickin-magic h1,
.activity .frickin-magic h2,
.activity .frickin-magic h3,
.activity .frickin-magic h4,
.activity .frickin-magic h5,
.activity .frickin-magic h6 {
  margin: 1.5em 0;
  color: #e85b1f;
}
.activity .frickin-magic h1:before,
.activity .frickin-magic h2:before,
.activity .frickin-magic h3:before,
.activity .frickin-magic h4:before,
.activity .frickin-magic h5:before,
.activity .frickin-magic h6:before {
  /*content: " :: ";*/
  display: inline;
  font-weight: normal;
}
.activity .frickin-magic h2 {
  font: bold 1.5em serif;
  margin-bottom: 0.75em;
  margin-top: 1.0000499999999999em;
}
.activity .frickin-magic h3 {
  color: #4d4b39;
  font-weight: bold;
  font-size: 1.99995em;
  font-family: serif;
  margin-bottom: 0.75em;
  margin-top: 1.0000499999999999em;
}
.activity .frickin-magic h4 {
  font-weight: bold;
  font-size: 1.2000000000000002em;
  font-family: serif;
}
.activityTitle h3 {
  font-weight: bold;
  font-size: 2.25em;
  font-family: serif;
  margin-bottom: 0.75em;
}
.activityTitle h3:before {
  /*content: " :: ";*/
  display: inline;
  font-weight: normal;
}
.activityTitle h4 .left {
  margin-right: 1em;
}
