.lightboxMask {
	background-color: black;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 1000px;
	width: 1000px;
	z-index: 100;
}
.lightboxContainer {
	width: 400px;
	min-height: 300px;
	border: 10px solid #E1DED4;
	border-top: 0px;
	background-color: #ffffff;
	z-index: 150;
	position: fixed;
	top: 100px;
}

.movLightbox{
	height: 480px;
	width: 740px;
}

.f4vLightbox {
	width: 600px;
	height: 384px;
}
#f4vVideoWrapper {
	width: 580px;
	height: 326px;
	background-color: #000000;
}
.lightboxContentWrapper {
	padding: 10px;
}
	.lightboxContent h2 {padding: 0px;}
	.lightboxContent h3.grade {
		margin: 0 0 0 20px;
		font-weight: normal;
	}
		.lightboxContent h3.grade span {
			font-size: 36px;
			margin: 0 0 0 10px;
			font-weight: bold
		}
	.lightboxContent form input,
	.lightboxContent form textarea {
		border: 0px solid #f0f0f0;
		padding: 5px;
		background-color: #E1DED4
	}
	.lightboxContent form .submit {
		padding: 5px 10px;
		background-image: url(../images/theme/fullsail/pageElements/button_bg.jpg);
		border: 0px solid black;
		color: #9d9d9d;
		margin: 0 10px 0 0;
	}
	.lightboxContent form .submit:hover {
		color: #ffffff;
	}
	.closeLightbox {
		height: 18px;
		width: 52px;
		display: block;
		background: url(/assets/skins/fullsail/images/pageElements/lightboxCloseButton.png);
		margin: 10px 0px;
	}
	.closeLightbox:hover {background-position: 0px -18px;}
